.header__price{
  background: linear-gradient(132deg, rgba(42,60,113,1) 18%, rgba(34,31,145,0.9304971988795518) 52%, rgba(8,12,73,1) 72%, rgba(66,67,236,1) 95%);

}
.price__subtitle{
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.price__text{
  color: #FFF;
  font-family: Merriweather, sans-serif;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 12px;
}
.price__btn{
  &-gold{
    border-radius: 60px;
    border: 2px solid  #E0B473;
    padding: 18px 28px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: none;
    margin-left: 15px;
    margin-top: 20px;
    color: #E0B473;

  }
  border-radius: 60px;
  border: 2px solid  #FFF;
  padding: 18px 28px;
  color: #FFF;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: none;
  margin-left: 15px;
  margin-top: 20px;
}

.ivan{
  padding-top: 86px;
  position: relative;
  &__content{
    display:flex;
    padding-top: 50px;
    &-title{
      color: #2F5691;
      font-family: Merriweather, sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-top: 42px;
    }
    &-block{
      width: 470px;
      height: 206px;
      flex-shrink: 0;
      margin-top: 72px;
      &-text{
        color: #6F737D;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
      }
    }
    &-svg{
      position: absolute;
      right: 37%;
      top: 63%;
    }
  }
}

.education{
  padding-top: 79px;
  position: relative;
  &__content{
    display: flex;
    gap: 31px;
    &-svg{
      position: absolute;
      bottom: 84%;
    }
    &-left{
      width: 569px;
      height: 852px;
      flex-shrink: 0;
      border-radius: 16px;
      background:  #EBEFF4;
      &-title{
        color: #2F5691;
        font-family: Merriweather, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 120px;
&-info{
  color: #2F5691;
  font-family: Merriweather, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 120px;
  position: absolute;
  top: 10%;
}
   &-sub{
     color: #2F5691;
     font-family: Merriweather, sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     margin-left: 120px;
     position: absolute;
     top: 10%;
   }
        &-push{
            color: #2F5691;
            font-family: Merriweather, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 120px;
            position: absolute;
            top: 55%;
        }
        &-add{
          color: #2F5691;
          font-family: Merriweather, sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-left: 120px;
          position: absolute;
          bottom: 18%;
        }

      }
      &-text{
        color: #6F737D;
        font-family: Roboto,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        padding-left: 20px;

      }
    }

    &-right{
      display: flex;
      flex-direction: column;
      gap: 25px;
      &-svg{
        position: absolute;
        right: 45%;
      }
      &-box{
        width: 580px;
        height: 394px;
        flex-shrink: 0;
        border-radius: 16px;
        background:  #EBEFF4;
        &-two{
          width: 569px;
          height: 204px;
          flex-shrink: 0;
          border-radius: 16px;
          background:  #EBEFF4;
        }
        &-three{
          width: 569px;
          height: 204px;
          flex-shrink: 0;
          border-radius: 16px;
          background:  #EBEFF4;
        }
      }

    }

  }
}
.work__content-box-direction-education{
  border-radius: 16px;
  background: #EBEFF4;
  position: relative;
  width: 569px;
  height: 852px;
  flex-shrink: 0;
}
